beautifulsoup4==4.11.1
builtwith==1.3.4
certifi==2022.9.24
charset-normalizer==2.1.1
future==0.18.2
idna==3.4
python-whois==0.8.0
requests==2.28.1
six==1.16.0
soupsieve==2.3.2.post1
tqdm==4.64.1
urllib3==1.26.12
